body {
  font-family: Arial, sans-serif;
  background-color: #222;
  color: #fff;
  text-align: center;
  margin: 0;
  padding: 0;
  font-size: 24px;
}

h1 {
  color: #61dafb;
}

h1,
h3,
h6 {
  margin: 0;
  padding: 0;
}

ol {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 0;
  /* list-style: none; */
}

li {
  margin: 4px 0;
}

a {
  color: #61dafb;
  text-decoration: none;
  font-weight: bold;
}

input {
  width: 100%;
  max-width: 512px;

  text-align: center;
  font-weight: bolder;
  font-family: 'Courier New', Courier, monospace;

  background-color: #222;
  color: #fff;
  border: none;
}

.fakeButton {
  border: 2px dashed #61dafb;
  padding: 4px 16px;
}

.fakeButton:hover {
  transition-duration: 1s;
  border: 2px solid #a461fb;
  border-radius: 40px;
  padding: 4px 64px;
}

.actionButtons {
  display: flex;
  gap: 4px;
  justify-content: center;
}